nav{
    margin-right: 0px;
    width: 55vw;
}
.navbar-items-wraper{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.Burger-items-wraper{
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style:none;
}
.navbar-Item{
font-size: 1.2em;
margin-right: 0px;
cursor: pointer;
}

.showHidden{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 99, 71, 0.851);
    font-size:1.2em;
    display: block;
    position: absolute;
    top:10vh;
    right:0vw;
}
.hideDisplay{
display: none;
}

.navbar-Itemlink {
    text-decoration: none;
    cursor: pointer;
    color: rgb(22, 111, 4);
}
.navbar-Itemlink:hover{
    color: rgb(114, 119, 18);
}
.Burger-Item{
    font-family: 'karla','Times New Roman', Times;
    align-self: center;
    font-size: 1.4em;
    margin-top: 20px;
}

.Burger-Itemlink {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}

.Burger-Itemlink:visited{
 cursor: pointer;
  color: rgb(22, 111, 4);
}

.Burger-Itemlink:hover{
    color: rgb(114, 119, 18);
  }

.burgerButton{
height: 40px;
width: 40px;
padding: 0px;
background-color:rgb(244, 248, 251);
border: none;
}
.burgerbImage{
border: none;
border-radius: 10px;
height: 90%;
width: 90%;
}
.deleteImage{
    border: none;
    border-radius: 5px;
    height: 80%;
    width: 80%;
}
@media  screen and (max-width:1000px) {
.navbar-Item{
    font-size: 1em;
}
}

@media screen and (max-width:800px) {
    nav{
        margin-right: 0px;
        width: 28vw;
    }
    .burgerButton{
        position: relative;
        left:20vw;
        top:0px
        }
}



